.header{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
  @media screen and (min-width: 720px) {
    flex-flow: row nowrap;
  }
  h3{
    font-weight: 500;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span, a{
    margin: 0px 10px;
  }
  a{
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #4169e1;
    cursor: pointer;
    &:hover{
      color: #FF9800;
    }
  }
}

.grid-itens{
  display: flex;
  flex-flow: column nowrap;
  .item{
    background-color: #e0ffff;
    border-width: 1px;
    border-style: solid;
    border-color: #90ee90;
    border-radius: 10px;
    margin: 5px 0px;
    &:hover{
      border-width: 1px;
      border-style: solid;
      border-color: #FF9800;
      border-radius: 10px;
      background-color: #fff9c4;
    }
  }
  .item-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    @media screen and (min-width: 720px) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    &>div{
      width: 100%;
      flex: 1;
      @media screen and (min-width: 720px) {
        margin-right: 15px;
      }
    }
    .location{
      flex: 30%;
    }
    .level{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 720px) {
        justify-content: flex-start;
      }
      img{
        height: 22px;
      }
    }
    .price{
      flex: 35%;
      &-box{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
      }
      span{
        color: #FF9800;
        font-weight: 700;
      }
      img{
        height: 28px;
      }
    }
    .item-name{
      flex: 35%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 720px) {
        flex-flow: row nowrap;
        justify-content: flex-start;
        text-align: start;
        h3, p{
          justify-content: flex-start;
          text-align: start;
        }
      }
      h3{
        text-shadow: 1px 1px 5px #E0E0E0;
        &.fine {
          color: #3c3;
        }
        &.superior {
          color: #06f;
        }
        &.epic {
          color: #c0f;
        }
        &.legendary{
          color: #e6bc16;
        }
      }
    }
  }
  .item-img{
    margin-right: 10px;
    object-fit: contain;
    width: 60px;
    height: 60px;
  }
  h3, p{
    margin: 2px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.pagination{
  margin: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .btn{
    padding: 0px 5px;
    margin: 0px 5px;
    min-width: 50px;
    visibility: hidden;
    display: none;
    @media screen and (min-width: 960px) {
      visibility: visible;
      display: inline-block;
    }
    &:last-child, &:first-child {
      visibility: visible;
      display: inline-block;
    }
  }
}
