.header{
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
}

.hero{
  color: white;
  background-image: url(../../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  width: 90vw;
  max-width: 900px;
  margin: 30px auto;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  p{
    margin-top: 0px;
    font-size: 22px;
    font-weight: 300;
  }
}

.home-link{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  img{
    height: 25px;
    margin-right: 10px;
  }
}
