<footer>
  <div class="links">
    <a href="https://tamrieltradecentre.com/About">About</a>
    <a href="https://tamrieltradecentre.com/help">Help</a>
    <a href="https://tamrieltradecentre.com/contact">Contact us</a>
    <a href="https://tamrieltradecentre.com/TermsOfService">Terms of Service</a>
    <a href="https://tamrieltradecentre.com/PrivacyPolicy">Privacy Policy</a>
  </div>
  <div>
      <p>© {{year}} by Steven Chen All rights reserved</p>
      <p>
        Tamriel Trade Centre was created using content and materials from The Elder Scrolls® Online: Tamriel Unlimited™ © ZeniMax® Online Studios, LLC or its licensors. This site is not affiliated with ZeniMax Online Studios, and ZeniMax Online Studios is not responsible for any of the content on, or the privacy policy of this site.
        Windows®, Xbox® and their logos are registered trademarks of Microsoft Corporation
        Sony PlayStation® and its logo are registered trademarks of Sony Inc.
      </p>
  </div>
</footer>
