:host{
  width: 90vw;
  max-width: 900px;
  margin: auto;
  padding: 20px 0px;
  display: block;
}

.links{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  @media screen and (min-width: 720px) {
    flex-flow: row nowrap;
  }
  a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0px 5px;
    @media screen and (min-width: 720px) {
      &:not(:last-child) {
        border-right: 1px solid var(--text-color);
      }
    }
    &:hover{
      color: #1e88e5;
      text-decoration: underline;
    }
  }
}
