:host{
  display: block;
  color: #fff;
  background: #0c0c0c;
  border-radius: 15px;
}

.content{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px 15px;
  span{
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
  }
}

.spinner {
  animation: rotator 6s linear infinite;
  padding: 10px;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


