<div class="search-box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card matAutocompleteOrigin #origin="matAutocompleteOrigin">
      <input [formControl]="stateCtrl" [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" type="text" placeholder="Search for Item">
      <button type="submit" class="btn-search" mat-icon-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </mat-card>
  </form>
  <mat-autocomplete [displayWith]="displayWith" #auto="matAutocomplete" (optionSelected)="onSubmit($event)">
    <mat-option *ngFor="let item of filteredStates | async" [value]="item">
      <div class="autocomplete-option">
        <img class="option-img" aria-hidden [src]="item.IconName">
        <span [ngClass]="item.quality">{{item.label}}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
