.search-box{
  width: 90vw;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  form{
    display: contents;
  }
  .mat-card{
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-right: 15px;
    flex: 1;
  }
  .btn-search{
    height: 49px;
    font-size: 18px;
  }
  input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 16px;
    &:active, &:focus{
      box-shadow: 0 0 0 3px #FF9800;
    }
  }
}

.autocomplete-option{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  span{
    text-shadow: 1px 1px 5px #E0E0E0;
    &.fine {
      color: #3c3;
    }
    &.superior {
      color: #06f;
    }
    &.epic {
      color: #c0f;
    }
    &.legendary{
      color: #e6bc16;
    }
  }
}

.option-img{
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
