:host{
  display: block;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-box{
  display: flex;
  flex-flow: column nowrap;
}

.content{
  z-index: 2;
}

.main-grid{
  width: 90vw;
  max-width: 900px;
  margin: auto;
}

