<div class="grid-itens">
  <div class="item" (click)="onClick(item.ItemID)" *ngFor="let item of itens | async">
    <div class="item-content">
      <img class="item-img" [src]="item.img" [alt]="item.name">
      <div>
        <h3>{{item.name}}</h3>
        <p>Starting From <img class="gold-icon" src="https://us.tamrieltradecentre.com/Content/icons/gold.png" alt="gold">  <span class="gold-amount">{{item.gold}}</span></p>
        <p>{{item.entries}} {{item.amount}}</p>
      </div>
    </div>
  </div>
</div>
